:root {
	--color1: #FFE573;
	--color2: #A68800;
	--color3: #FF6F00;
}

body{
	background: #29467F;
}
.crosswordContainer {
	display: grid;
	grid-gap: 0.5rem;
	justify-content: center;
	padding: 2rem;
}

.letterBox {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0.1rem solid var(--color1);
	border-radius: 0.2rem;
	color: var(--color1);
	background-color: #1144AA;
	font-size: 2rem;
	text-align: center;
	user-select: none;
}

.wordSelected {
	border-color: var(--color3);
	background-color: #6B8FD5;
}

.letterBoxSelected {
	border-color: var(--color3);
	box-shadow: 0 0 0 0.2rem var(--color2);
}

.letterBox:hover {
	box-shadow: 0 0 0 0.2rem var(--color2);
}

.letterBoxSolved {
	color: var(--color3);
	background-color: #1144AA;
}